{% head %}
<link href="/pages/institucional/contact.css" inline rel="stylesheet" type="text/css">
{% endhead %}

<section class="section container">
  <div class="contact-wrapper">
    <h1 class="title">{{ page.title }}</h1>
    <div class="contact-content-wrapper">
      <div class="contact-content-card">
        <div class="contact-content-card-icon-address"></div>
        <h5 class="contact-content-card-title">Endereço</h5>
        <a class="contact-content-card-description link-address" href="https://maps.app.goo.gl/NzhxNq5gjQactQ1R6">Rua Neo Alvez Martins, 672 – Sala 02</a>
      </div>
      <div class="contact-content-card">
        <div class="contact-content-card-icon-whatsapp"></div>
        <h5 class="contact-content-card-title">Whatsapp para contato</h5>
        <a class="contact-content-card-description link-whatsapp" href="https://api.whatsapp.com/send/?phone=44991337090">(44) 9 9133-7090</a>
      </div>
      <div class="contact-content-card">
        <div class="contact-content-card-icon-phone"></div>
        <h5 class="contact-content-card-title">Telefone para contato</h5>
        <a class="contact-content-card-description link-phone" href="tel:443052-1717">(44) 3052-1717</a>
      </div>
      <div class="contact-content-card">
        <div class="contact-content-card-icon-email"></div>
        <h5 class="contact-content-card-title">Email para contato</h5>
        <a class="contact-content-card-description link-email" href="mailto:contato@matrixlcms.com.br">contato@matrixlcms.com.br</a>
      </div>
      <div class="contact-content-card">
        <div class="contact-content-card-icon-cnpj"></div>
        <h5 class="contact-content-card-title">CNPJ</h5>
        <span class="contact-content-card-description">28.140.957/0001-52</span>
      </div>
      <div class="contact-content-card">
        <div class="contact-content-card-icon-hours"></div>
        <h5 class="contact-content-card-title">Horário de atendimento</h5>
        <span class="contact-content-card-description">8:30h às 17:00h</span>
      </div>
    </div>
  </div>
</section>
