.carousel {
  position: relative;
  padding-bottom: 7rem;

  @include media("sm") {
    padding-bottom: 0;
  }

  > .header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    > .button-default {
      width: calc(100% - 10%);
      position: absolute;
      bottom: 0;

      @include media("sm") {
        position: initial;
        width: fit-content;
      }
    }
  }

  > .content {
    position: relative;
    //padding para acomodar o swiper-pagination
    padding-bottom: 6rem;

    .product-block {
      height: 100%;
      padding: 0.2rem;

      .description {
        display: flex;
        flex-direction: column;
        //height: 40%;
        justify-content: space-between;
      }
    }

    .product-block > .description {
      //margin-bottom: auto;
    }

    .swiper-slide {
      height: 100%;
    }

    //config swiper navigation e pagination
    .swiper-button-prev {
      bottom: 0;
      left: 0;
      top: initial;
    }

    .swiper-button-next {
      bottom: 0;
      top: initial;
      right: 0;
    }

    .swiper-pagination {
      height: 4rem;
      bottom: 0;
    }
  }
}

.list-products {
  .product-block {
    justify-content: space-between;

    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30%;

      .price-wrapper {
        align-items: end;
        flex-direction: column;
        align-items: start;
      }
    }
  }
}

.swiper {
  overflow: unset !important;
  overflow-x: hidden;
  .swiper-wrapper {
    height: fit-content !important;
    @media screen and (max-width: 768px) {
      min-height: 385px !important;
    }
    .swiper-slide {
      .image {
        img {
          object-fit: contain;
        }
      }
    }
  }
}

.-secundario {
  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        .image {
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}

.carousel {
  .button-default {
    background-color: #003e62 !important;
    color: #fff !important;

    &:hover {
      color: #003e62 !important;
      background-color: #fff !important;
    }
  }

  .button-default.not_logged_in_button {
    background-color: #e5e5e5 !important;
    color: #686868 !important;
  }
}

.section-list-products {
  margin-bottom: 4rem !important;
  .pagination {
    margin-top: 4rem !important;
    .button-default {
      background-color: #003e62 !important;
      color: #fff !important;

      &:hover {
        color: #003e62 !important;
        background-color: #fff !important;
      }
    }
  }
}
