<div class="modal-cep-background hide" data-modal-cep-background>
  <div class="modal-cep" data-modal-cep>
    <h3 class="modal-title">Digite seu CEP</h3>
    <button class="modal-close" data-modal-close>X</button>
    <div class="modal-body" data-modal-body>
      <form action="/cep/choose-local" method="POST" id="choose-local" class="modal-form" data-modal-form>
        <input id="cep" class="modal-input" name="zip" type="tel" data-modal-input>
        <small class="modal-input-error hidden" data-modal-input-error>Este CEP é inválido!</small>
        <a class="modal-link-search" href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank" title="Busque pelo seu CEP">
          Não sabe seu CEP? Pesquise aqui. 
        </a>
        <button class="btn-modal" type="submit" data-modal-submit>
          Consultar
        </button>
      </form>
    </div>
    <div class="modal-no-store hidden" data-modal-nostore="">
      <p class="modal-no-store-text" data-modal-nostore-text></p>
      <button class="btn-modal btn-blue" type="button" href="#" data-modal-close="" data-modal-redirect="85935-000">
        Ver produtos disponíveis
      </button>
      <button class="btn-modal" type="button" href="#" data-modal-reset="">
        Tentar outro CEP
      </button>
      <a class="btn-modal" href="/p/atendimento" target="_blank">
        Fale com a gente
      </a>
    </div>
  </div>
</div>

 